In [ ]:
!wget "https://www.dropbox.com/scl/fi/jqcoempaqc4v3olxpgz94/sst.mon.anom.1982-2022.nc?rlkey=ob164gtkpjwdwjll1ch5kwp3d&e=1&dl=1"

In [8]:
file = 'sst.mon.anom.1982-2022.nc'

In [1]:
from geoAnalytics import _repository

/home/tarun/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/tarun/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [4]:
repository.connect('tarun', '163.143.165.143', 'tarun', 'tarun')

('PostgreSQL 13.15 (Ubuntu 13.15-1.pgdg22.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)
You are now connected

In [5]:
repository.delete('test')

test deleted successfully
Repository connection closed.

In [6]:
repository.create('test', 3)

Repository created
Repository connection closed.

In [9]:
repository.insertRaster('test', file, 3, 2)

In [12]:
df = repository.getRaster('test', 'temp', 100, 50, 110, 60)

Getting raster from database
Getting dataframe from database
Dataframe created
Repository connection closed.
Creating raster file

/home/tarun/.local/lib/python3.10/site-packages/geoAnalytics/repository.py:563: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataFrameEnvelope = pd.read_sql_query(query, conn)
Warning 1: Several drivers matching nc extension. Using NETCDF

(0, '')
(0, '')
(0, '')

Warning 1: Several drivers matching nc extension. Using NETCDF
Warning 1: Several drivers matching nc extension. Using NETCDF

(0, 'cdo    cat: Processed 300 values from 3 variables over 3 timesteps [0.04s 44MB].')
(0, '')

In [14]:
repository.getDataframe('test')

Getting dataframe from database
Dataframe created
Repository connection closed.

/home/tarun/.local/lib/python3.10/site-packages/geoAnalytics/repository.py:489: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataFrameEnvelope = pd.read_sql_query(query, conn)

           x     y       b1       b2       b3
0        0.5  89.5      0.0      0.0      0.0
1        1.5  89.5      0.0      0.0      0.0
2        2.5  89.5      0.0      0.0      0.0
3        3.5  89.5      0.0      0.0      0.0
4        4.5  89.5      0.0      0.0      0.0
...      ...   ...      ...      ...      ...
64795  355.5 -89.5  65534.0  65534.0  65534.0
64796  356.5 -89.5  65534.0  65534.0  65534.0
64797  357.5 -89.5  65534.0  65534.0  65534.0
64798  358.5 -89.5  65534.0  65534.0  65534.0
64799  359.5 -89.5  65534.0  65534.0  65534.0

[64800 rows x 5 columns]

In [15]:
repository.getDataframeForEnvelope('test', 100, 50, 110, 60)

Getting dataframe from database
Dataframe created
Repository connection closed.

/home/tarun/.local/lib/python3.10/site-packages/geoAnalytics/repository.py:563: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataFrameEnvelope = pd.read_sql_query(query, conn)

        x     y       b1       b2       b3
0   100.5  59.5  65534.0  65534.0  65534.0
1   101.5  59.5  65534.0  65534.0  65534.0
2   102.5  59.5  65534.0  65534.0  65534.0
3   103.5  59.5  65534.0  65534.0  65534.0
4   104.5  59.5  65534.0  65534.0  65534.0
..    ...   ...      ...      ...      ...
95  105.5  50.5  65534.0  65534.0  65534.0
96  106.5  50.5  65534.0  65534.0  65534.0
97  107.5  50.5  65534.0  65534.0  65534.0
98  108.5  50.5  65534.0  65534.0  65534.0
99  109.5  50.5  65534.0  65534.0  65534.0

[100 rows x 5 columns]

In [1]:
from geoAnalytics import GeoDatabaseManager
file = 'sst.mon.anom.1982-2022.nc'
obj = GeoDatabaseManager()
obj.connect()

('PostgreSQL 13.15 (Ubuntu 13.15-1.pgdg22.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)
You are now connected

In [2]:
df = obj.read_raster(file, 3, 2)
print(df.head())

                                        WKB Position   B0   B1   B2
0  0101000020E6100000000000000000E03F000000000060...  0.0  0.0  0.0
1  0101000020E6100000000000000000F83F000000000060...  0.0  0.0  0.0
2  0101000020E61000000000000000000440000000000060...  0.0  0.0  0.0
3  0101000020E61000000000000000000C40000000000060...  0.0  0.0  0.0
4  0101000020E61000000000000000001240000000000060...  0.0  0.0  0.0

In [3]:
df = obj.convertWKB(df)
print(df)

                                            WKB Position       B0       B1  \
0      0101000020E6100000000000000000E03F000000000060...      0.0      0.0
1      0101000020E6100000000000000000F83F000000000060...      0.0      0.0
2      0101000020E61000000000000000000440000000000060...      0.0      0.0
3      0101000020E61000000000000000000C40000000000060...      0.0      0.0
4      0101000020E61000000000000000001240000000000060...      0.0      0.0
...                                                  ...      ...      ...
64795  0101000020E61000000000000000387640000000000060...  65534.0  65534.0
64796  0101000020E61000000000000000487640000000000060...  65534.0  65534.0
64797  0101000020E61000000000000000587640000000000060...  65534.0  65534.0
64798  0101000020E61000000000000000687640000000000060...  65534.0  65534.0
64799  0101000020E61000000000000000787640000000000060...  65534.0  65534.0

            B2             geometry  longitude  latitude
0          0.0     POINT (0.5 89.5)        0.5      89.5
1          0.0     POINT (1.5 89.5)        1.5      89.5
2          0.0     POINT (2.5 89.5)        2.5      89.5
3          0.0     POINT (3.5 89.5)        3.5      89.5
4          0.0     POINT (4.5 89.5)        4.5      89.5
...        ...                  ...        ...       ...
64795  65534.0  POINT (355.5 -89.5)      355.5     -89.5
64796  65534.0  POINT (356.5 -89.5)      356.5     -89.5
64797  65534.0  POINT (357.5 -89.5)      357.5     -89.5
64798  65534.0  POINT (358.5 -89.5)      358.5     -89.5
64799  65534.0  POINT (359.5 -89.5)      359.5     -89.5

[64800 rows x 7 columns]

In [4]:
obj.delete_repository('test')
obj.create_repository('test', 3)
obj.insert_raster('test', file, 3, 2)

test deleted successfully
Disconnecting from repository
Disconnected from repository
Repository created
Disconnecting from repository
Disconnected from repository
Disconnecting from repository
Disconnected from repository

In [6]:
print(obj.get_dataframe('test'))
print(obj.get_dataframe_for_envelope('test', 100, 50, 110, 60))
obj.get_raster('test', 'temp', 100, 50, 110, 60)

/home/tarun/geoData.py:297: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)
/home/tarun/geoData.py:284: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)
/home/tarun/geoData.py:284: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)
Warning 1: Several drivers matching nc extension. Using NETCDF

           x     y       b1       b2       b3
0        0.5  89.5      0.0      0.0      0.0
1        1.5  89.5      0.0      0.0      0.0
2        2.5  89.5      0.0      0.0      0.0
3        3.5  89.5      0.0      0.0      0.0
4        4.5  89.5      0.0      0.0      0.0
...      ...   ...      ...      ...      ...
64795  355.5 -89.5  65534.0  65534.0  65534.0
64796  356.5 -89.5  65534.0  65534.0  65534.0
64797  357.5 -89.5  65534.0  65534.0  65534.0
64798  358.5 -89.5  65534.0  65534.0  65534.0
64799  359.5 -89.5  65534.0  65534.0  65534.0

[64800 rows x 5 columns]
        x     y       b1       b2       b3
0   100.5  59.5  65534.0  65534.0  65534.0
1   101.5  59.5  65534.0  65534.0  65534.0
2   102.5  59.5  65534.0  65534.0  65534.0
3   103.5  59.5  65534.0  65534.0  65534.0
4   104.5  59.5  65534.0  65534.0  65534.0
..    ...   ...      ...      ...      ...
95  105.5  50.5  65534.0  65534.0  65534.0
96  106.5  50.5  65534.0  65534.0  65534.0
97  107.5  50.5  65534.0  65534.0  65534.0
98  108.5  50.5  65534.0  65534.0  65534.0
99  109.5  50.5  65534.0  65534.0  65534.0

[100 rows x 5 columns]
Getting raster from database
Creating raster file
(0, '')
(0, '')
(0, '')
(0, 'cdo    cat: Processed 300 values from 3 variables over 3 timesteps [0.00s 44MB].')
(0, '')

Warning 1: Several drivers matching nc extension. Using NETCDF
Warning 1: Several drivers matching nc extension. Using NETCDF

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np

# Load and process conversations
file = "convo.txt"
conversations = []

with open(file, 'r', encoding='utf-8') as f:
    for line in f:
        conversations.append(line.strip() + '\n')

# Tokenizer
tokenizer = Tokenizer(filters='')
tokenizer.fit_on_texts(conversations)
total_words = len(tokenizer.word_index) + 1

# Create input sequences
input_sequences = []
for line in conversations:
    token_list = tokenizer.texts_to_sequences([line])[0]
    for i in range(1, len(token_list)):
        n_gram_sequence = token_list[:i+1]
        input_sequences.append(n_gram_sequence)

max_sequence_len = max([len(x) for x in input_sequences])
input_sequences = pad_sequences(input_sequences, maxlen=max_sequence_len, padding='pre')

# Prepare data
input_sequences = np.array(input_sequences)
X, y = input_sequences[:,:-1], input_sequences[:,-1]

class TextDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.long)
        self.y = torch.tensor(y, dtype=torch.long)
    
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]

dataset = TextDataset(X, y)
dataloader = DataLoader(dataset, batch_size=64, shuffle=True)

# Model definition
class TextGenerationModel(nn.Module):
    def __init__(self, total_words, embedding_dim, hidden_dim, max_sequence_len):
        super(TextGenerationModel, self).__init__()
        self.embedding = nn.Embedding(total_words, embedding_dim)
        self.lstm1 = nn.LSTM(embedding_dim, hidden_dim, batch_first=True)
        self.lstm2 = nn.LSTM(hidden_dim, hidden_dim, batch_first=True)
        self.fc = nn.Linear(hidden_dim, total_words)
    
    def forward(self, x):
        x = self.embedding(x)
        x, _ = self.lstm1(x)
        x, _ = self.lstm2(x)
        x = x[:, -1, :]  # Get the last output of the LSTM
        x = self.fc(x)
        return x

# Check for GPU
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

model = TextGenerationModel(total_words, 100, 150, max_sequence_len).to(device)
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Training
epochs = 1
for epoch in range(epochs):
    for X_batch, y_batch in dataloader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)
        
        optimizer.zero_grad()
        outputs = model(X_batch)
        loss = criterion(outputs, y_batch)
        loss.backward()
        optimizer.step()
    
    print(f'Epoch {epoch+1}/{epochs}, Loss: {loss.item()}')

# Text generation function
def generate_text(seed_text, max_sequence_len):
    model.eval()
    seed_text += '\n'
    generated_text = seed_text
    while True:
        token_list = tokenizer.texts_to_sequences([generated_text])[0]
        token_list = pad_sequences([token_list], maxlen=max_sequence_len-1, padding='pre')
        token_list = torch.tensor(token_list, dtype=torch.long).to(device)
        
        with torch.no_grad():
            output = model(token_list)
        
        # Get the top 5 predicted words
        topk = 5
        topk_indices = torch.topk(output, topk, dim=1).indices[0].tolist()
        
        topk_words = []
        for index in topk_indices:
            for word, idx in tokenizer.word_index.items():
                if idx == index:
                    topk_words.append(word)
                    break
        
        print("Top 5 predictions:", topk_words)
        
        # Select the first predicted word (for continuing the generation)
        output_word = topk_words[0]
        
        if output_word == '\n':
            break
        generated_text += " " + output_word
    return generated_text.strip()

# Save the model
torch.save(model.state_dict(), "model.pth")

# Example text generation
print(generate_text("Hello", max_sequence_len))